*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.main{
    width: 30%;
    background: linear-gradient(90deg, rgba(186,151,167,1) 0%, rgba(148,187,233,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
}
input{
    height: 30px;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
}
.bi-search{
    font-size: 25px;
    cursor: pointer;
}
.weather{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    

}
.weather img{
    width: 50%;
    height: 40%;
}
.details{
    display: flex;
    gap: 2rem;
    margin: 20px;
}
.error{
    display: none;
}
@media (max-width:600px) {
    .main{
        width: 80%;
        /* height: 50%; */
    }
}
@media (min-width:600px) and (max-width:995px) {
    .main{
        width: 60%;
        /* height: 50%; */
    }
}